<!doctype html>
<html>
  <head>
    <title>Realtime GPS Tracker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'map.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="bg"></div>
    <div class="bg-others"> 
    <div class="container">
      <h1 >SafeRide</h1>
        <center><hr style="height:2px; border:none; color:#ffffff; background-color:#ffffff; width:35%; margin: 0 auto 0 auto;"></center>
        <p>Current location of the Bus</p>  
        <center><div id="map-canvas"></div></center>
    </div>
    </div>
    

    <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-database.js"></script>
    <script>
    window.lat = 37.7850;
    window.lng = -122.4383;

    var map;
    var mark;
    var lineCoords = [];
      
    var initialize = function() {
      map  = new google.maps.Map(document.getElementById('map-canvas'), {center:{lat:lat,lng:lng},zoom:12});
      mark = new google.maps.Marker({position:{lat:lat, lng:lng}, map:map});
    };

        const firebaseConfig = {

          apiKey: "AIzaSyCsj0BHi9MzBSPAkKK_s2hTKv3fd9iSZAs",
          authDomain: "gps-tracker-6a3cb.firebaseapp.com",
          databaseURL: "https://gps-tracker-6a3cb-default-rtdb.firebaseio.com",
          projectId: "gps-tracker-6a3cb",
          storageBucket: "gps-tracker-6a3cb.firebasestorage.app",
          messagingSenderId: "658019737102",
          appId: "1:658019737102:web:aafbe8ab6a2df4f4e8665f"

    };

    window.initialize = initialize;

    firebase.initializeApp(firebaseConfig );

    var ref = firebase.database().ref();

    ref.on("value", function(snapshot) {
        var gps = snapshot.val();
      console.log(gps.LAT);
      console.log(gps.LNG);
      lat = gps.LAT;
      lng = gps.LNG;

      map.setCenter({lat:lat, lng:lng, alt:0});
      mark.setPosition({lat:lat, lng:lng, alt:0});
      
      lineCoords.push(new google.maps.LatLng(lat, lng));

      var lineCoordinatesPath = new google.maps.Polyline({
        path: lineCoords,
        geodesic: true,
        strokeColor: '#2E10FF'
      });
      
      lineCoordinatesPath.setMap(map);
    }, function (error) {
      console.log("Error: " + error.code);
    });

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBhRUaM5KxMZFkrNPEZ6eyoAxMNhzOvM8o&callback=initialize"></script>
  </body>
</html>